# Xcode
build/
DerivedData/
*.xcworkspace
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.hmap
*.ipa
*.dSYM.zip
*.dSYM
xcuserdata/

# Swift Package Manager
.build/
Packages/
Package.resolved

# macOS
.DS_Store
*.swp
*~

# AppCode
.idea/

# Temporary files
*.tmp
*.bak
